env/
dist/
build/
vendor/
packer_cache/
bower_components/
node_modules/
__pycache__/
.elasticbeanstalk/
.vagrant/
.hg/
.git/
.bzr/
.eggs/
.cache/
.tox/
*.egg-info/
tags
.coverage
.DS_Store
*.netrwhist
*.out
*.dll
*.so
*.so.*
*.a
*.la
*.lo
*.swo
*.o
*.ko
*.obj
*.elf
*.swp
*.log
*.elc
*.pyc
*.db
*~
